<!DOCTYPE html>
<html>
  <head>
    <title>Tickets Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <nav>
        <%= link_to 'Home', root_url %>
        |
        <%= link_to 'Jobs', jobs_url %>
        |
        <%= link_to 'Tickets', tickets_url %>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
